
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia</title>
</head> 
<body style="height: 100%; color: black;">
    <div id="title">
        
    </div>
    <img id="image"/>
    <p id="description"></p>    
</body>
<script>
    document.addEventListener("DOMContentLoaded", () =>{
        let title = localStorage.getItem('title');
        let image = localStorage.getItem('image');
        let description = localStorage.getItem('description');
        let divtitle = document.getElementById('title');
        let h1 = document.createElement('h1');       
        h1.textContent = title;
        h1.style.color = "black";
        h1.style.display = "inline";
        divtitle.appendChild(h1);
        let img = document.getElementById('image');
        img.setAttribute('src', image);
        img.style.width = '300px';
        let divdescription = document.getElementById('description');
        divdescription.textContent = description;
        let start = true;       
    });
</script>
</html>






