{% extends 'base.html' %}
{% block content %}
<h1>Extração de URL da Imagem</h1>
    <p>
        Neste exemplo, vamos extrair a URL de uma imagem dentro de uma string HTML usando JavaScript.
    </p>

    <h2>HTML String:</h2>
    <pre>
        <code id="htmlString">
&lt;div&gt;&lt;img src="http://example.com/image.jpg" alt="Example Image"&gt;&lt;/div&gt;
        </code>
    </pre>

    <h2>Resultado da Extração:</h2>
    <p id="result"></p>

    <script>
        // Exemplo de string HTML contendo uma imagem
        let item = {
            description: '<div><img src="http://example.com/image.jpg" alt="Example Image"></div>',
            texto: 'Maria e José querem se casar!'
        };

        // Extraindo a URL da imagem usando a expressão
        let imagem = item.description.split('src="').pop().split('"')[0];

        let parte1 = item.texto.split('e José')[0];
        let parte2 = item.texto.split('e José')[1].split('em').join([,]);
        const name = localStorage.getItem('username');
        console.log(name);




        // Exibindo o resultado na página
        document.getElementById('result').textContent = 'URL da Imagem Extraída: ' + imagem;
    </script>
{% endblock %}